[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "vendor/gist.el"]
	path = vendor/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/twilight-emacs"]
	path = vendor/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
